.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}